[submodule "src/lib/breeze"]
	path = src/lib/breeze
	url = https://github.com/zeemeng/breeze.git
[submodule "src/lib/statehub"]
	path = src/lib/statehub
	url = https://github.com/zeemeng/statehub.git
