/** SIDEBAR SECTION **/

:host {
  width: 0;
  min-width: 0;
  height: calc(100vh - var(--navbar-height));

  position: sticky;
  top: var(--navbar-height);

  transition: 200ms;

  overflow-x: hidden;
  overflow-y: auto;

  /* z-index: -1; */
}

:host(.active) {
  width: 20%;
  min-width: var(--sidebar-min-width);
}

aside.sidebar {
  height: 100%;
  opacity: 0%;
  transition: opacity 100ms;
}

:host(.active) aside {
  opacity: 100%;
}

.sidebar-controls {
  height: var(--sidebar-controls-height);
}

.sidebar-search-result {
  border: 1px solid orange;
}

.sidebar-hide-control {
  height: 35px;
  width: auto;
  padding: 10px 10px;
  align-self: flex-end;
  cursor: pointer;
}

.sidebar-show-control {
  height: 35px;
  width: auto;
  padding: 10px 10px;
  transform: rotate(180deg);
  cursor: pointer;
  position: fixed;
  top: var(--navbar-height);
  /* background: yellowgreen; */
  background-color: rgba(255, 255, 255, 0.9);
}

:host(.active) .sidebar-show-control {
  display: none;
}

.sidebar-hide-control:hover,
.sidebar-show-control:hover {
  background-color: var(--blue-2);
  transition: 150ms;
}

.sidebar-hide-control:hover > path,
.sidebar-show-control:hover > path {
  fill: #fff;
  fill-opacity: 1;
}

.sidebar-search-control {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 7px;
}

.sidebar-search-input {
  width: calc(100% - 40px);
  height: 40px;
  padding: 1em;
  border: 1.5px solid var(--border-light);
  border-radius: var(--border-radius-standard) 0 0 var(--border-radius-standard);
}

.sidebar-search-submit {
  width: 40px;
  height: 40px;
  border: 1.5px solid var(--border-light);
  border-left: none;
  background: #fff;
  border-radius: 0 var(--border-radius-standard) var(--border-radius-standard) 0;
}

.sidebar-filter-control {
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-around;
}

.sidebar-content {
  height: calc(100% - var(--sidebar-controls-height) - 15px);
  overflow: auto;
  padding-right: 1em;
  line-height: 1.35;
}

.sidebar-search-result-clear {
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.sidebar-filter-control,
.sidebar-search-result-clear {
  color: rgba(0, 0, 0, 0.5);
}

.filter-by-section,
.filter-by-all {
  cursor: pointer;
}

.sidebar-toc {
  opacity: 0.75;
  transition: 100ms ease-in;
}

.sidebar-toc:hover {
  opacity: 1;
}

.sidebar-toc > *:first-child {
  margin-top: 5px;
}

.sidebar-toc a {
  color: inherit;
}

ki-toc {
  font-weight: 400;
}

.sidebar-content::before {
  display: block;
  content: "";
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0));
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar-toc {
  margin-top: -10px;
}

/* Media queries */

@media (max-width: 768px) {
  :host {
    position: fixed;
    left: 0;
    background-color: #fff;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }

  aside.sidebar {
    padding: 0 1.5rem;
  }

  .sidebar-hide-control {
    position: relative;
    right: -1.5rem;
  }
}
