* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
}

a {
  color: var(--blue-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-skip-ink: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}
