/* Code elements */

pre {
  background-color: var(--block-code-bg);
  color: var(--block-code-color);
  font-family: var(--code-font);
  border-radius: var(--border-radius-md);
  padding: 1.5rem 2rem;
  margin: 1.5rem 0;
  white-space: pre-wrap;
}

pre * {
  font-family: var(--code-font);
}

.comment {
  color: #92c32f;
  color: #80b552;
  color: #55b552;
  color: var(--block-code-comment-color);
}
