.ref {
  font-size: 14px;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  margin: 1.5rem 0;
  padding: 1.5rem 2rem;

  background: var(--bg-grey);
  border-radius: var(--border-radius-md);
}

.ref > div:first-child {
  font-weight: 500;
}

.ref > ol {
  padding-left: 3em;
}

.ref > ol > div {
  margin-top: 2em;
}

.ref > ol > div:first-child {
  margin-top: 1em;
}
