main.flex {
  min-height: 100vh;
  align-items: flex-start;

  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: var(--container-margin);
  padding: var(--container-padding);
}

.main-content {
  width: 100%;
  max-width: none;
  margin-top: var(--navbar-height);
  padding: 3.5rem 0;
  padding-left: 0;

  transition: 200ms;
}

ki-sidebar.active ~ .main-content {
  width: 80%;
  max-width: calc(100% - var(--sidebar-min-width));
  padding-left: 2rem;
}

@media (max-width: 768px) {
  ki-sidebar.active ~ .main-content {
    width: 100%;
    max-width: none;
    padding-left: 0;
  }
}
