.topic-toc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-toc * {
  color: inherit;
}

.topic-toc-container {
  box-shadow: 0 3px 10px 3px var(--border-light);
  border-radius: 12px;
  padding: 2.5rem 5rem;
}

.topic-toc-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  display: block;
  font-weight: 700;
}

.topic-toc-heading:hover {
  text-decoration: none;
  cursor: default;
}

@media (max-width: 768px) {
  .topic-toc {
    padding: 20px 40px;
  }
}

@media (max-width: 576px) {
  .topic-toc {
    padding: 0;
    padding-bottom: 30px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .topic-toc .topic-toc-heading {
    font-size: 30px;
  }
}
